In [ ]:
import pandas as pd

# Load the cleaned dataset you created earlier
merged_data = pd.read_csv("Cleaned_Retail_Data.csv")

# If your date column isn't converted yet:
merged_data['trans_date'] = pd.to_datetime(merged_data['trans_date'], errors='coerce')

# Quick check
merged_data

C:\Users\sushmitha\AppData\Local\Temp\ipykernel_28968\825769061.py:7: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  merged_data['trans_date'] = pd.to_datetime(merged_data['trans_date'], errors='coerce')

       customer_id trans_date  tran_amount  response
0           CS5295 2013-02-11           35         1
1           CS4768 2015-03-15           39         1
2           CS2122 2013-02-26           52         0
3           CS1217 2011-11-16           99         0
4           CS1850 2013-11-20           78         0
...            ...        ...          ...       ...
124958      CS8433 2011-06-26           64         0
124959      CS7232 2014-08-19           38         0
124960      CS8731 2014-11-28           42         0
124961      CS8133 2013-12-14           13         0
124962      CS7996 2014-12-13           36         0

[124963 rows x 4 columns]

In [5]:
monthly_sales = merged_data.groupby(merged_data['trans_date'].dt.to_period('M'))['tran_amount'].sum().reset_index()
monthly_sales.columns = ['Month', 'Total_Sales']
monthly_sales['Month'] = monthly_sales['Month'].astype(str)
print(monthly_sales)

      Month  Total_Sales
0   2011-05        98901
1   2011-06       174527
2   2011-07       178038
3   2011-08       188605
4   2011-09       169173
5   2011-10       182565
6   2011-11       166830
7   2011-12       181326
8   2012-01       177969
9   2012-02       170135
10  2012-03       180453
11  2012-04       167955
12  2012-05       178880
13  2012-06       172933
14  2012-07       178964
15  2012-08       179164
16  2012-09       174746
17  2012-10       181621
18  2012-11       178998
19  2012-12       173657
20  2013-01       181729
21  2013-02       160233
22  2013-03       181389
23  2013-04       173642
24  2013-05       185826
25  2013-06       176813
26  2013-07       180967
27  2013-08       180031
28  2013-09       176830
29  2013-10       181521
30  2013-11       177341
31  2013-12       180802
32  2014-01       184554
33  2014-02       154151
34  2014-03       179729
35  2014-04       174149
36  2014-05       169555
37  2014-06       172741
38  2014-07       179026
39  2014-08       178975
40  2014-09       173385
41  2014-10       179303
42  2014-11       174855
43  2014-12       173940
44  2015-01       179837
45  2015-02       160469
46  2015-03        94829

In [9]:
monthly_sales.to_excel("Report/Monthly_Sales_Report.xlsx", index=False)

In [10]:
import pandas as pd

# Load your cleaned data
data = pd.read_csv("Cleaned_Retail_Data.csv")

# Ensure 'trans_date' is recognized as a datetime
data['trans_date'] = pd.to_datetime(data['trans_date'], errors='coerce')

# Extract Month and Year correctly
data['Month'] = data['trans_date'].dt.month
data['Year'] = data['trans_date'].dt.year

# Check if months are extracted correctly
print(data[['trans_date', 'Month']].head(5))

  trans_date  Month
0 2013-02-11      2
1 2015-03-15      3
2 2013-02-26      2
3 2011-11-16     11
4 2013-11-20     11

In [11]:
monthly_sales = data.groupby('Month')['tran_amount'].sum().reset_index()
monthly_sales.columns = ['Month', 'Total_Sales']
print(monthly_sales)

    Month  Total_Sales
0       1       724089
1       2       644988
2       3       636400
3       4       515746
4       5       633162
5       6       697014
6       7       716995
7       8       726775
8       9       694134
9      10       725010
10     11       698024
11     12       709725

In [12]:
yearly_sales = data.groupby('Year')['tran_amount'].sum().reset_index()
yearly_sales.columns = ['Year', 'Total_Sales']
print(yearly_sales)

   Year  Total_Sales
0  2011      1339965
1  2012      2115475
2  2013      2137124
3  2014      2094363
4  2015       435135

In [13]:
response_sales = data.groupby('response')['tran_amount'].sum().reset_index()
response_sales.columns = ['Response', 'Total_Sales']
print(response_sales)

   Response  Total_Sales
0         0      7166562
1         1       955500

In [14]:
with pd.ExcelWriter('Report/Summary_Reports.xlsx') as writer:
    monthly_sales.to_excel(writer, sheet_name='Monthly Sales', index=False)
    yearly_sales.to_excel(writer, sheet_name='Yearly Sales', index=False)
    response_sales.to_excel(writer, sheet_name='Response Sales', index=False)

print("✅ Summary reports successfully saved to 'Report/Summary_Reports.xlsx'")

✅ Summary reports successfully saved to 'Report/Summary_Reports.xlsx'